.app-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: flex-start; 
  gap: 20px; 
  padding: 20px;
}


.configurator-container {
  flex: 1; 
  min-width: 300px;
}

.preview-container {
  flex: 1;
  min-width: 300px;
}